@model Practice.Models.Regions

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<div>
<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-12">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>           
    </div>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button"
            onclick="Create('@Url.Action("EditRegions","Regions")')" class="btn btn-primary">
        Edit
    </button>
</div>



<script>
    function Create(url )
    {
        var name = $("#Name").val();
        $.ajax({
            type:"POST",
            url: url,
             data:{Name:name , Id :@Model.Id},
             success:function(response)
             {
                 location.reload();
             }
        })


    }
</script>