@model Practice.Models.Jobs

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinSalary" class="control-label"></label>
                <input asp-for="MinSalary" class="form-control" />
                <span asp-validation-for="MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSalary" class="control-label"></label>
                <input asp-for="MaxSalary" class="form-control" />
                <span asp-validation-for="MaxSalary" class="text-danger"></span>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button"
            onclick="Create('@Url.Action("CreateJobs","Jobs")')" class="btn btn-primary">
        Create
    </button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function Create(url )
    {
        var job = $("#JobTitle").val();
        var min = $("#MinSalary").val();
        var max = $("#MaxSalary").val();
        $.ajax({
            type:"POST",
            url: url,
             data:{JobTitle:job, MinSalary:min,MaxSalary:max},
             success:function(response)
             {
                 location.reload();
             }
        })


    }
</script>
