@model Practice.ViewModel.CreateRoleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button"
            onclick="Create('@Url.Action("CreateNewRole","Admin")')" class="btn btn-primary">
        Create
    </button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function Create(url )
    {
        var name = $("#RoleName").val();
        $.ajax({
            type:"POST",
            url: url,
             data:{RoleName:name},
             success:function(response)
             {
                 location.reload();
             }
        })


    }
</script>
